<div *ngIf="tasks.length > 0; else noData" id="pdfTable">

  <div *ngFor="let task of tasks">
    <div class="header" [ngClass]="task.name">
      <h2>{{ task.label | translate}}</h2>
      <div *ngFor="let part of task.parts" class="parts">
        <li class="part">
          <input class="part-title filled" type="text" value='{{part}}'/>
<!--          {{part}}-->
          <input type="text" class="part-value"(change)="onChangeValue($event)"/>
        </li>
      </div>
    </div>
  </div>
</div>
<div> <button  (click)="downloadAsPDF()">{{ 'button.exportToPDF' | translate }}</button></div>
<ng-template #noData>{{ 'label.noData' | translate }}</ng-template>
