.header {
  margin-top: 20px;
  h2 {
    padding-left: 20px;
    color: #FFF;
  }
}

.date h2 {
  padding-left: 0px !important;
  color: #000;
  margin-bottom: 10px;
}

.intro h2 {
  padding-left: 0px !important;
  margin-bottom: 0px;
  color: #000;
  font-size: 14px;
}

.treasure h2 {
  background-color: #626262
}

.ministry h2 {
  background-color: #C48430
}

.life h2 {
  background-color: #942926
}

.parts {
  li {
    list-style-type: none;
    margin: 5px 0 5px 0;
    display: flex;
    justify-content: space-between;

    .filled {
      border:0;
      outline:0;
    }

    .filled:focus {
      outline:none!important;
    }
  }
}
